<section class="page-content rules">
  <h1 class="page-title">Rules</h1>
  <div class="">


    <h2>NativeScript Angular</h2>
    <p>
      All applications must be built using NativeScript and Angular.
    </p>

    <h2>Timeline</h2>
    <p>
      You've got precisely 96 hours to develop your mobile iOS and Android apps during the competition and not a minute
      more.
    </p>
    <p>
      The competition kicks off at <b>10:00 CET on 12 September</b> and ends at <b>9:59 CET on 16 September</b>.
    </p>
    <h3>Timezone fun.</h3>
    <p>
      PLEASE make sure to find out exactly what time that is in your timezone.
      We don't want anyone to have a disadvantage because they didn't do the conversion ahead of time.
      For your current timezone the key dates should be: <br />
    </p>

    <ul>
      <li>Start: <b>{{start | date: 'EEEE, d MMMM y, HH:mm zzzz'}}</b></li>
      <li>End: <b>{{end | date: 'EEEE, d MMMM y, HH:mm zzzz'}}</b></li>
    </ul>

    <h3>Preparation</h3>
    <p>
      Of course, feel free to work on the concept for your application before the competition starts: pretty hand-drawn
      pictures on napkins, angry email threads between team members on two-space or four-space indentation, schema
      designs, finite state machines. Just no digital assets including graphic design assets, code, etc.
    </p>

    <h3>Deadline</h3>
    <p>
      After those 96 hours are up, judging will start. No additional features or bug fixes are allowed during judging.
    </p>

    <h2>Teams</h2>
    <p>
      Teams are comprised of between one to four individuals. No more than four people are allowed on a team.
      Individuals
      don't need to be programmers nor even know NativeScript or Angular, but both of those definitely help.
    </p>


    <h2>Delivery</h2>
    <p>
      Your final project should be easily accessible to the judges. <br />
      You should publish it either via <a target="_blank" href="https://play.nativescript.org/">NativeScript
        Playground</a> or GitHub, together with instructions on how to run the project.
    </p>

    <h2>Libraries</h2>
    <p>
      Libraries, plugins, and modules that are public and freely available are allowed and encouraged. During judging,
      please list all libraries that you use on your team's profile page to give credit where it's due. Stock photos and
      free icon sets are allowed. Paying for something that is not generally available to everyone else is not advised,
      and not nice.
    </p>
    <p>
      Developing a library in secret before the competition that provides the same general functionality of your entry
      and releasing it a day before will likely get you disqualified and called sneaky.
      On the other hand, developing a library that is publicly available and provides a general-purpose, publicly usable
      function can be done before the competition begins.
    </p>

    <h2>Web Services</h2>
    <p>
      We encourage use of third-party web services and their APIs (e.g. Twitter, Flickr, Google maps). Almost everyone
      loves mashups. Again, make sure to update your team profile with what services you use.
    </p>


    <h2>Ownership and Open Source</h2>
    <p>
      The code you write is yours. If you intend to share it after the competition, you can pick whatever license you
      love. We encourage contestants to open source their code, and/or share it with the NGOs that the project was built
      for.
    </p>

    <h2>Scoring</h2>
    <p>
      Winners will be picked by a mixture of voting by judges and contestants.
    </p>

    <h2>Other stuff</h2>
    <p>
      We encourage playful competition, but most of all we want everyone to have fun. Be nice to your fellow
      competitors. <br />
      Don't break any laws. Have a good attitude and enjoy yourselves!
    </p>
  </div>
</section>