<section class="for-devs">
  <h2 class="page-title">For Devs</h2>
  <p class="description">
    Solve an interesting problem, and build mobile apps that make a difference.
  </p>
  <!-- <div>
    <img src="/assets/img/oval.png" alt="">
  </div> -->
  <!-- <p>
    Work with other people from your community and learn new skills.
  </p> -->
  <!-- <p class="description">
    You don't need to be an expert to compete. If you know Angular, you can pick up enough of NativeScript to
    complete the challenge.
  </p>
  <p class="description">
    Check out the <b>Learning Resources</b> page to find out how to learn everything you need to compete.
  </p> -->
</section>