
//why can't I import my scss partials here?

.code-of-conduct {
    
    h2 {
        margin-top: 1.5em;
    }
}
.code-intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.2em;
}
