<div class="nav-bar">
  <img src="../assets/img/hack-for-good-logo-an.svg" alt="home" height="35" [routerLink]="['']">
  <nav role="navigation" class="nav-items">
    <button mat-button [routerLink]="['/agenda']">Agenda</button>
    <button mat-button [routerLink]="['/learning']">Learning Resources</button>
    <button mat-button [routerLink]="['/prizes']">Prizes</button>
    <button mat-button [routerLink]="['/rules']">Rules</button>
    <button mat-button [routerLink]="['/code-of-conduct']">Code of Conduct</button>
    <button mat-raised-button [routerLink]="['/register']">Register</button>
  </nav>
  <div role="navigation" class="nav-menu">
    <mat-menu #appMenu="matMenu">
      <button color="accent" mat-menu-item [routerLink]="['/agenda']">Agenda</button>
      <button mat-menu-item [routerLink]="['/learning']">Learning Resources</button>
      <button mat-menu-item [routerLink]="['/prizes']">Prizes</button>
      <button mat-menu-item [routerLink]="['/rules']">Rules</button>
      <button mat-menu-item [routerLink]="['/code-of-conduct']">Code of Conduct</button>
      <button mat-menu-item [routerLink]="['/register']">Register</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>