<div class="nav-bar">
  <!-- <img src="../assets/img/hack-for-good-logo-an.svg" height="40" [routerLink]="['']"> -->
  <button mat-button [routerLink]="['']" class="home-button">Home</button>
  <div class="nav-items">
    <button mat-button [routerLink]="['/agenda']">Agenda</button>
    <button mat-button [routerLink]="['/learning']">Learning Resources</button>
    <button mat-button [routerLink]="['/prizes']">Prizes</button>
    <button mat-button [routerLink]="['/rules']">Rules</button>
    <button mat-button [routerLink]="['/code-of-conduct']">Code of Conduct</button>
    <button mat-raised-button [routerLink]="['/register']">Register</button>
  </div>
</div>