@media (min-width: 1020px){
  .nav-menu {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
@media (max-width: 1020px){
  .nav-items {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}