@media (min-width: 1020px){
  .nav-menu-mobile {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
@media (max-width: 1020px){
  .nav-menu-desktop {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

//Styling for the navbar buttons
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: stretch;

  .nav-items {
    justify-self: end;
  }
  a .home-button {
    justify-self: start;
  }
}
.nav-menu-mobile {
  justify-self: end;
}
