@import '../../spacing.scss';

.category {
  border-left: 3px solid;
  padding: $padding-content;
  margin: 10px 0px;
}

.items li {
  list-style-type: none;
}

// .item {
//   display: grid;
//   grid-template-columns: auto 1fr;
//   grid-column-gap: 12px;
//   padding: 0px; 
// }
