h1 {
  font-size: 4em;
  font-weight: 900;
  line-height: 1;
  margin-top:0;
}

h2 {
  font-size: 2em;
  margin-top:0;
}

h3 {
  font-size: 1.25em;
  margin-top:0;
}

p {
  font-weight: 100;
  color: rgba(0,0,0,0.6);
  margin-top:0;
}