@import 'spacing.scss';

//desktop
h1,h2,h3 {
  margin-top: 0px;
  margin-bottom:$h-margin-bottom-desk;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
}

p {
  font-weight: 100;
  // color: rgba(0,0,0,0.6);
}

//mobile
@media (max-width : 480px) {

  h1,h2,h3 {
    margin-top:0;
    margin-bottom:$h-margin-bottom-mobile;
  }

  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  h3 {
    font-size: 0.9em;
  }
  
  p {
    font-size: 0.8em;
    font-weight: 100;
    color: rgba(0,0,0,0.6);
  }
}

//tablet
@media (min-width: 480px) and (max-width : 768px) {
  h1,h2,h3 {
    margin-top:0;
    margin-bottom: $h-margin-bottom-tablet;
  }

  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 1.7em;
  }
  
  h3 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1em;
    font-weight: 100;
    color: rgba(0,0,0,0.6);
  }
}