/* Coolors Exported Palette - coolors.co/3d5afe-73fbd3-44e5e7-f7f9f9-bed8d4 */

/* HSL */
$color1: hsla(231%, 99%, 62%, 1);
$color2: hsla(162%, 94%, 72%, 1);
$color3: hsla(181%, 77%, 59%, 1);
$color4: hsla(180%, 14%, 97%, 1);
$color5: hsla(171%, 25%, 80%, 1);

/* RGB */
$color1: rgba(61, 90, 254, 1);
$color2: rgba(115, 251, 211, 1);
$color3: rgba(68, 229, 231, 1);
$color4: rgba(247, 249, 249, 1);
$color5: rgba(190, 216, 212, 1);