//body
$page-margin-mobile: 10px 5vw;
$page-margin-desktop: 40px 10vw;

//page desktop
$content-top-padding-desktop: 40px;
//page mobile
$content-top-padding-mobile: 24px;

$grid-column-gap: 1.2em;
$grid-row-gap: 2em;

//content
$padding-content: 0px 1.5em 0px;
$margin-top-content: 2.5em;

$h-margin-bottom-desk: 18px;
$h-margin-bottom-tablet: 14px;
$h-margin-bottom-mobile: 12px; 