/* You can add global styles to this file, and also import other style files */

@import 'fonts.scss';
@import 'palette.scss';
@import 'spacing.scss';

body { 
  font-family: "Avenir", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: $color1;
  color:white;

  @media(min-width: 980px){
    margin: $page-margin-desktop;
  }
  margin: $page-margin-mobile;
}

a {
  color: $color2;
}
b {
  color: $color2;
}

//Styling for the navbar buttons
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.nav-items {
  justify-self: end;

}
.home-button {
  justify-self: start;
}

//Mobile first layout HOMEPAGE
@media (max-width: 1020px) {
  .page-content {
    display: grid;
    grid-template-rows: repeat(2fr,1fr,1fr);
    grid-column-gap: $grid-column-gap;
    grid-row-gap: $grid-row-gap;
  }
  .intro-container {
  
    .intro {
      min-height: 60vh;
      background: url("assets/img/Hack_for_good_transp_blue.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .subsection h2{
    border-top: 3px solid;
    margin: 20px 0px;
    padding-top:10px;
  }

  .mission {
  }
  app-key-facts {
    // text-align: center;
  }
  
}

//desktop HOMEPAGE
@media(min-width: 1020px) {

  .page-content {
    margin-top: $margin-top-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,auto-fit);

    grid-column-gap: $grid-column-gap;
    grid-row-gap: $grid-row-gap;
   
  }
  //home component
  .intro-container {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: $grid-column-gap;
    grid-row-gap: $grid-row-gap;

    background: url("assets/img/Hack_for_good_transp_blue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  app-intro {
    order: 2;
    .intro {
      border-left: 3px solid;
      padding: $padding-content;
    } 
  }

  app-key-facts {
    order: 1;
  }

  .mission {
    order: 3;
    padding: $padding-content;
  }
  .getting-ready {
    grid-column: span 3;
    border-top: 1 px solid;
    border-left: 3px solid;
    padding: $padding-content;  
  }
  .connect {
    padding: $padding-content;
 }
}

///Agenda
.agenda {

  margin: $margin-top-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto-fit;

  @media (min-width: 1020px) {

    .page-title {
        margin-bottom: 1em;
    }
    h2 {
        margin-top: 1.5em;
    }

    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  ul {
    padding-left: 0;
  }
  .schedule li{
    list-style-type: none;
    border-left: 3px solid;
    padding: $padding-content; 
    // padding-left:0;

  }

  .agenda-item {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-column-gap: 12px;
    padding: 0px;   
  }
}


//these are not needed for now
// .page-title {
//   margin-bottom: 4px;
// }

// .page-content {
//   padding: 4px;
// }

@import '~@angular/material/theming';

@mixin theme-me($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-item {
    color: white;
    background-color: mat-color($primary);
  }
}