/* You can add global styles to this file, and also import other style files */

@import 'fonts.scss';

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.page-title {
  margin-bottom: 4px;
}

.page-content {
  padding: 4px;
}

.nav-bar {
  margin-left: 200px;
  margin-right: 200px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.nav-items {
  justify-self: end;
}
.home-button {
  justify-self: start;
}

.audience {
  display: grid;
  padding: 20px;
}
.container {
    display: grid;
    grid-column-gap: 1.2em;
    grid-row-gap: 2em;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100vh;
    margin: 0px 20vw;
}

//mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    display: grid;
    background: red;
    grid-template-columns: 90vw;
    margin: 0px 5vw;
  }
  app-intro {
    order:1;
  }
  .audience {
    order:2;
  }
  app-key-facts {
    order:3;
  }
}

//tablet
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .container {
    display: grid;
    background: lightblue;
    grid-template-columns: 90vw;
    margin: 0px 5vw;
  }
  app-intro {
    order:1;
  }
  .audience {
    order:2;
  }
  app-key-facts {
    order:3;
  }
}

.intro {
  // grid-column: span 2;
  padding: 1em;
}

app-key-facts, app-why {
  padding: 1em;
}
  
@import '~@angular/material/theming';

@mixin theme-me($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-item {
    color: white;
    background-color: mat-color($primary);
  }
}