/* You can add global styles to this file, and also import other style files */

@import 'fonts.scss';

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing:border-box;
}

.page-title {
  margin-bottom: 4px;
}

.page-content {
  padding: 4px;
}

.audience {
  display: grid;
  padding: 20px;
}
.container {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 36px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    margin: 40px 200px 0 200px;
}

app-intro {
  grid-column: span 2;
  padding: 1em;
}

app-key-facts, app-why {
  padding: 1em;
}
  
@import '~@angular/material/theming';

@mixin theme-me($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-item {
    color: white;
    background-color: mat-color($primary);
  }
}