<div class="page-content home">

  <div class="intro-container">
    <app-intro></app-intro>
    <app-key-facts></app-key-facts>

    <section class="mission subsection">
      <h2>The Mission</h2>
      <p>
        Our mission is to push the boundaries of the mobile frontier. Use Angular and NativeScript to create engaging
        mobile experiences across iOS, Android, and web.
      </p>
      <h2>The Deal</h2>
      <p>
        However, we don't want you to build an app for the sake of it.
        We believe that software can make a real difference, so we challenge you to build something amazing that also
        makes the world a better place.
      </p>
      <h2>Participate</h2>
      <p>
        Collaborate with an NGO of your choice and work on a project that will help them <b>Do Good</b>.
        Don't worry if you don't have a project idea yet, we can help you find one.
      </p>

    </section>
  </div>

  <section class="getting-ready subsection">
    <h2>Getting ready</h2>

    <p class="description">
      You don't need to be an expert to compete. If you know Angular, you can pick up enough of NativeScript to
      complete the challenge.
    </p>
    <p class="description">
      Check out the <u><b [routerLink]="['learning']">Learning Resources</b></u> page to find out how to learn
      everything you need to compete.<br />
      We will also run a few online sessions to show you how to get yourself started.
    </p>
  </section>

  <section class="connect subsection">
    <h2>Connect</h2>
    <p class="description">
      Join the <a target="_blank" href="https://www.nativescript.org/slack-invitation-form">NativeScript Community
        Slack</a>, we've prepared a special slack channel <b>#hacking-for-good</b>, where you can connect with us and
      other participants.
    </p>
  </section>

</div>