<div class="page-content">
  <section class="intro-container">
    <div class="audience">
      <!-- <app-why></app-why> -->
      <app-for-devs></app-for-devs>
      <app-for-ngos></app-for-ngos>
    </div>
    <app-intro></app-intro>
    <app-key-facts></app-key-facts>
  </section>
  <section class="description-container">
      <h2 class="description-title">
        Long description
      </h2>
      <p class="description-paragraph1">
        Here goes a long description of the event. 
      </p>
      <p class="description-paragraph3">
          Possibly in three paragraphs 
      </p>
      <p class="description-paragraph3">
          So that it's easier to digest 
      </p>
    </section>
</div>