<div class="page-content">
  <section class="intro-container">
    <div class="audience">
      <app-for-devs></app-for-devs>
      <app-for-ngos></app-for-ngos>
    </div>
    <app-intro></app-intro>
    <app-key-facts></app-key-facts>
  </section>
  <!-- <section class="description-container">
    <h2 class="description-title">
      Long description
    </h2>
    <p class="description-paragraph1">
      Here goes a long description of the event.
    </p>
    <p class="description-paragraph3">
      Possibly in three paragraphs
    </p>
    <p class="description-paragraph3">
      So that it's easier to digest
    </p>
  </section> -->
</div>

<section>
  <h2>The Mission</h2>

  <p>
    Our mission is to push the boundaries of the mobile frontier. Use Angular and NativeScript to create engaging mobile
    experiences across iOS, Android, and web.
  </p>

  <p>
    However, we don't want you to build an app for the sake of it.
    We believe that software can make a real difference, so we challenge you to build something amazing that also makes
    the world a better place.
  </p>

  <p>
    Collaborate with an NGO of your choice and work on a project that will help them <b>Do Good</b>.
    Don't worry if you don't have a project idea yet, we can help you find one.
  </p>
</section>

<section>
  <h2>Getting ready</h2>

  <p class="description">
    You don't need to be an expert to compete. If you know Angular, you can pick up enough of NativeScript to
    complete the challenge.
  </p>
  <p class="description">
    Check out the <u><b [routerLink]="['learning']">Learning Resources</b></u> page to find out how to learn everything
    you need to compete.<br />
    We will also run a few online sessions to show you how to get yourself started.
  </p>
</section>

<section>
  <h2>Connect</h2>

  <p class="description">
    Join the <a target="_blank" href="https://www.nativescript.org/slack-invitation-form">NativeScript Community
      Slack</a>,
    we've prepared a special slack channel <b>#hacking-for-good</b>, where you can connect with us and other
    participants.
  </p>
</section>